.carousel_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 340px;/* 410px;*/
    position: fixed;
    right: 1px;
    
  }
  
  .carousel-scroll {
    position: relative;
    width: 550px;
    height: 550px;
    margin:  auto;
    border-radius: 50%;
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
    transform: none;/* add this line to prevent spinning */
    display: flex;
    justify-content: center;
    align-content: center;

    
  }

  .shadow-circle{
    /* position: relative; */
    width: 610px;
    height: 610px;
    /* margin: 0 auto; */
    border-radius: 50%;
    /* overflow: hidden; */
    transition: transform 0.5s ease-in-out;
    transform: none;/* add this line to prevent spinning */
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 0;
    background-color: pink;
  }
  
  .carousel-image {
    /* width: 300px; */
    margin-top: 200px;
    height: 300px;

  }
  
  .carousel-prev,
  .carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    color: white;
    font-size: 24px;
    cursor: pointer;
  }
  
  .carousel-prev {
    left: 10px;
  }
  
  .carousel-next {
    right: 10px;
  }
  
  .headings {
    display: flex;
    font-size: 35px;
    font-weight: 900;
    color: rgb(33, 37, 41);
  }
  .head_cnt{
    display: flex;
    margin-left: 2.5%;
    width: 100vh;
    margin-top: 10px;
  }

  .buttons{
    margin-left: 12px;
    display: flex;
    flex-direction: row;
    height: 32px;
  }
  
  .buttons > button{
    background-color: #7550ff;
    border-radius: 26px;
    display: flex;
    align-items: center;
  }

  .video_play{
    display: flex;
    flex-direction: row;
    background-color: #7550ff;
    border-radius: 26px;
    margin-left: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .video_play > span{
    font-size: 12px;
    font-weight: 700;
    color: rgb(33, 37, 41);
    margin-bottom: 3px;
  }



